* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F9F8F6;
}

.header {
    background-color: #C9B59C;
    border-bottom-style: dashed;
    border-bottom-color: #1c1812;
    border-width: 4px;
    text-align: center;
    padding: 40px;
}

.header .title {
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 40px;
    color: #1c1812;
    margin-left: 10px;
}

.header .image {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.selection {
    background-color: #D9CFC7;
    padding: 20px;
}

.selection .list {
    display: block;
    text-align: center;
    list-style-type: none;
}

.list .card {
    display: inline-block;
    background-color: #EFE9E3;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
}

.link {
    text-decoration: none;
    transition: filter 0.3s ease;
}

.link:hover {
    filter: brightness(0.8);
}

.link .image {
    display: block;
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.link .text {
    display: block;
    color: #1c1812;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #EFE9E3;
    padding: 20px;
}